[Unit]
Description=Proxy Ping Aggregator Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/cf_proxy_ping_aggregator.py --port 5000 --lport 3000 --lport 3001
Restart=always
WorkingDirectory=/usr/local/bin/
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target