[Unit]
Description=Proxy Ping Aggregator Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/cf_proxy_ping_aggregator.py --port 8080 --lport 3001 --lport 3000 --logfile /var/log/cf_proxy_ping_aggregator/output.log
Restart=always
User=proxyaggregator
WorkingDirectory=/usr/local/bin/

[Install]
WantedBy=multi-user.target